<%= turbo_frame_tag 'profile' do %>
  <div id="profile">
    <li class="nav-item active">
      <%= link_to 'Профиль', '/homepage/profile', class: 'nav-link link-info'%>
    </li>
  </div>
<% end %>

<%= turbo_frame_tag 'frame' do %>
  <div id="task-tests">
    <li class="nav-item active">
      <%= link_to 'Тесты по заданиям', '/homepage/edit', class: 'nav-link link-info'%>
    </li>
  </div>
<% end %>