<div class="container-md content"><h3>На сайте зарегистрированно: <%= User.count - User.count_by_sql('Select count(*) from Users where role = "admin" or role = "superadmin"') %></h3>
  <table class="table">
    <tr><th>Рейтинг</th></tr>
    <tr><th>Место</th><th>Пользователь</th><th>Баллы</th></tr>
    <% count = 1 %>
    <% @users.each do |user, balls| %>
      <% unless balls.zero? %>
        <tr>
          <td><%= count %></td>
          <td><%= user.email %></td>
          <td><%= balls %></td>
        </tr>
        <% count += 1  %>
      <% end %>
    <% end %>
  </table>
</div>