<div class="container-task">
  <h2>Экзамен</h2>
  <p class="test-description">В ЕГЭ по информатике 2022 года — девять практико-ориентированных заданий, тогда как в прошлом году таких заданий было только восемь. В них проверяются навыки работы с прикладным программным обеспечением и навыки написания собственных программ для решения различных задач.
      В отличие от ЕГЭ прошлых лет, в нынешней структуре экзамена содержатся задания только с кратким ответом базового, повышенного и высокого уровней сложности. По сравнению с ЕГЭ 2021 года изменились задания 3, 9 и 17. 
  </p>
  <p class="test-description">
    Длительность экзамена – 3 часа 55 минут (255 минут), полтора часа из которых рекомендовано уделить выполнению заданий первой части КИМов.<br>
Задания в билетах разделены на блоки:
    <ul>
      <li class="default-font"><b>Часть 1</b> - 25 задания с кратким ответом.</li>
      <li class="default-font"><b>Часть 2</b> - 2 задачи с развернутым ответом.</li>
    </ul>
  </p>
  <b class="default-font">Всего: 35 баллов.</b><br>
  <br>
  <%= link_to 'Начать', '/task/task?test=exam', class: 'start-test' %>
</div>