<div class="container-task">
  <h2>Первая часть</h2>
  <p class="test-description">Первая часть состоит из 25 простых заданий на комбинаторику, алгебру логики, базовые алгоритмические задачи, электронные таблицы и работу с текстовым редактором. </p>
  <%= link_to 'Начать', '/task/task?test=first', class: 'start-test' %>
</div>