<div class="container-task">
  <h2>Вторая часть</h2>
  <p class="test-description">Вторая часть это два последних задания с экзамена, то есть 26 и 27. Это считаются сложные задачи на алгоритмическое программирование, за эти задания ставятся по два первичных балла </p>
  <%= link_to 'Начать', '/task/task?test=second', class: 'start-test' %>
</div>